.welcome {
  display: grid;
  place-content: center;
  justify-items: center;
  height: 100vh;
}
.entry-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 25px;
}
.entry-input {
  border-radius: 25px;
  font-size: 1.2rem;
  margin-right: 10px;
}
.entry-input::placeholder {
  text-align: center;
}
