.todo-form {
  display: flex;
  justify-content: space-between;
  width: 350px;
  background-color: white;
  padding: 10px;
  border-radius: 25px;
}

.todo-form > input {
  font-size: 1.2rem;
  border-radius: 25px;
}

.form-button {
  background-color: rgba(112, 179, 243, 0.932);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  cursor: pointer;
}
.form-select {
  width: 50px;
  height: 30px;
  border-radius: 25px;
}
.todo-form > input::placeholder {
  text-align: center;
}
